html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: Microsoft JhengHei;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrap{
	max-width: 1200px;
	height: 1000px;
	/*border: 1px solid 	#E0E0E0;*/
	margin: 0 auto;
}
.header{
	height: 100px;
	/*border: 1px solid 	#E0E0E0;*/
	position: relative;
	margin-bottom: 20px;
}
.logo img{
	margin: 10px;
	height: 150px;
	width: 150px;
	float: left;
	border: 1px solid 	#E0E0E0;
	background: gray;
}

.header_list{
	width: 800px;
	float: right;
	/*border: 1px solid 	#E0E0E0;*/

	position: absolute;
	right: 0;
	bottom: 0;

} 

.header_list a{
	display: block;
	text-decoration: none;
	width: 150px;
	color: #3C3C3C;
	text-align: center;
	padding:10px;
	float: left;
	border-right:1px solid #E0E0E0;
	
}
.header_list a:hover{
	background:  #3C3C3C;
	color:#FFF;
}

.header_list_search{
	width: 500px;
	height:25px;
	margin: 10px;
	margin-left: 30px;
}

.header_list_btn{
	width: 50px;
	height:20px;
	margin: 10px;

}
.index_body{
	height: 800px;
	border: 0px solid 	#fff;
	position: relative;
	border-bottom:1px solid #E0E0E0;

}
.index_body_main{
	width: 950px;
	border: 1px solid 	#E0E0E0;

	float: left;
	margin: 10px;
	margin-top: 30px;
	height: 680px;
	position: absolute;
	left: 200px;
	top:10px;

}
.index_body_main img{
	width: 950px;
	height: 300px;
	border:1px solid #E0E0E0;

}

.index_body_main h3{
	width: 200px;
	height: 40px;
	border:2px solid #E0E0E0;
	position: absolute;
	left: 20px;
	top: -20px;
	background: #fff;
	padding-top: 20px;
	text-align: center;


}

.index_body_main .upper{
	width: 950px;
	height: 350px;
	
}

.index_body_side{
	width: 150px;
	/*border: 1px solid 	#E0E0E0;*/
	float: left;
	margin: 5px;
	height: 700px;
	position: absolute;
	left: 5px;
	top:80px;

}
.index_body_side a{
	display: block;
	padding:15px 20px;
	text-decoration: none;
	font-size: 20px;
	border-bottom: 1px solid 	#E0E0E0;
	color: 	#3C3C3C;

}

.index_body_side a:hover{
	background: #3C3C3C;
	color: #fff;

}
.index_body_side .cata{
	
	height: 500px;
}
.index_body_side .fbclub{
	border: 1px solid 	#E0E0E0;
	height: 200px;
}


.footer{
	background:#3C3C3C	;
	height: 250px;
	position: relative;

}

.footer li{
	display: block;
	text-decoration: none;
	width: 200px;
	text-align: center;
	padding:10px;
	float: center;
	border-right:1px solid #E0E0E0;
	border-left:1px solid #E0E0E0;
	color: #fff;
	margin-top: 10px;
	float: left;
}

.footer li:hover{
	color: #3C3C3C;
	background: #fff;
}
.footer ul{
	width: 800px;
	margin: 20px auto;
}

.search_body_main{
	width: 950px;
	border: 1px solid 	#E0E0E0;

	float: left;
	margin: 10px;
	margin-top: 30px;
	height: 700px;
	position: absolute;
	left: 200px;
	top:10px;

}


.search_body_main h3{
	width: 200px;
	height: 40px;
	border:2px solid #E0E0E0;
	position: absolute;
	left: 20px;
	top: -20px;
	background: #fff;
	padding-top: 20px;
	text-align: center;


}

.search_body_main .upper{
	width: 950px;
	height:250px;
	border:1px solid #E0E0E0;
	margin-bottom: 20px;
}

.search_body_main .bottom{
	width: 950px;
	height:400px;
	border:1px solid #E0E0E0;
}

.box{
	width: 400px;
	height: 200px;
	border:1px solid #E0E0E0;
	margin: 20px;
	margin-top: 30px;
	float: left;
}

.shoes{
	display: none;

}

.footer .f1,.footer .f2,.footer .f3{
	width: 200px;
	float: left;
	text-align: center;
	padding: 10px;
	line-height: 30px;
	display: none;
	color: #fff;
}
.f1{
	position: absolute;
	top:40px;
	left: 200px;
}
.f2{
	position: absolute;
	top:40px;
	left: 425px;
}
.f3{
	position: absolute;
	top:40px;
	left: 645px;
}

.ff{
	width: 800px;
	margin: 10px auto;
	height: 200px;
		
}

h4{
	margin: 20px;
}

